{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hoodies</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

              
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61YWB-llUbL._UL1500_.jpg" alt=""></div>
            <div class="name">Cotton hoodies</div>
            <div class="price">$4</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51sL-5sJ7hL._UX425_.jpg" alt=""></div>
            <div class="name">ADRO MEN'S</div>
            <div class="price">$7.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://lp2.hm.com/hmgoepprod?set=format%5Bwebp%5D%2Cquality%5B79%5D%2Csource%5B%2F62%2Fae%2F62ae13df726656b92afa7815854e1b1741f5122e.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url%5Bfile%3A%2Fproduct%2Fmain%5D" alt=""></div>
            <div class="name">MEN'S BLACK</div>
            <div class="price">$9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41uPz0sTr9L._UY500_.jpg" alt=""></div>
            <div class="name">SXV chicago</div>
            <div class="price">$8.4</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://n.nordstrommedia.com/id/sr3/4a04d6ae-c97f-43d2-8f48-06ca6c026747.jpeg?h=365&w=240&dpr=2" alt=""></div>
            <div class="name">womens sweattshirt</div>
            <div class="price">$8.8</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images-cdn.ubuy.co.in/63401c408b21bc25ec2b0e34-mens-hoodies-pullover-color-block-fleece.jpg" alt=""></div>
            <div class="name">Pull over hoodies</div>
            <div class="price">$4.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://media.boohoo.com/i/boohoo/fzz39192_black_xl?w=900&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit" alt=""></div>
            <div class="name">women's black</div>
            <div class="price">$5.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-26212,resizemode-1,msid-95881992/top-trending-products/lifestyle/10-best-hoodies-for-girls-under-rs-800.jpg" alt=""></div>
            <div class="name">girl's hoodies</div>
            <div class="price">$4.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/21203458/2023/1/2/06271946-be59-476d-bb62-0b4d81c961611672651142670-Roadster-Men-Sweatshirts-91672651142282-1.jpg" alt=""></div>
            <div class="name">hoodies</div>
            <div class="price">$6.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://assets.ajio.com/medias/sys_master/root/20220802/7aex/62e94faaf997dd03e21a85f3/-473Wx593H-441539200-white-MODEL.jpg" alt=""></div>
            <div class="name">GAP Logo</div>
            <div class="price">$3.9  </div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images.unsplash.com/photo-1578768079052-aa76e52ff62e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhvb2RpZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt=""></div>
            <div class="name">full covered</div>
            <div class="price">$9.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://5.imimg.com/data5/SELLER/Default/2020/9/KG/PZ/DR/27070405/alien-print-sleeve-hoodie-for-girl-s-500x500-500x500.png" alt=""></div>
            <div class="name">girl's full slave</div>
            <div class="price">$7.7</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>
    
</body>
</html>