{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sarees</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


<body>

              
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://5.imimg.com/data5/SELLER/Default/2021/12/GM/RI/YB/53480653/cotton-designer-saree-for-ladies-500x500.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$24</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://rukminim1.flixcart.com/image/832/832/kn97te80/sari/l/d/n/free-1068-k-shaibo-saree-unstitched-original-imagfz7jpaquwduy.jpeg?q=70" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$27</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://assets.ajio.com/medias/sys_master/root/20230322/zDtu/641afb1e907deb497aa7204e/-473Wx593H-465809417-yellow-MODEL.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$19</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71ljuzv9trL._UL1500_.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$28</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0637/4834/1981/products/pink-printed-chiffon-saree-with-banarasi-border-peachmode-1.jpg?v=1669040060" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$19.8</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://assets.ajio.com/medias/sys_master/root/20211222/g4nZ/61c23d22aeb2690110167c4c/-473Wx593H-463532274-green-MODEL.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$33</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://img.faballey.com/images/Product/ILS00009Z/d3.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$25.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/1760/4649/products/georgette-saree-multi-colour-georgette-saree-silk-saree-online-23866151305409.jpg?v=1648563183" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$14.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/1979/4335/products/Crochet-Georgette-Colorful-Saree-with-Sequence-Work_500x500.jpg?v=1661258686" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$16.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://media.samyakk.com/tagalys/product_images/s/r/sr25451-a.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$12.9  </div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.anitadongre.com/dw/image/v2/BGCX_PRD/on/demandware.static/-/Sites-masterCatalog_AD_India/default/dw7aa8e6d9/images/hires/S23/Womens/S23RS135_lime_1.jpg?sw=400&sh=600&sm=fit" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$22.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://ik.imagekit.io/wb2spwtue/kreeva/tr:h-430,w-315,q-80,cm-pad_resize/media/catalog/product/s/a/saree-2-04.jpg" alt=""></div>
            <div class="name">Saree</div>
            <div class="price">$17.7</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>
    
</body>
</html>