{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOES</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="{% static 'shoes1.jpg' %}" alt=""></div>
            <div class="name"> WHITE SNEAKER</div>
            <div class="price">$4</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
        </div>
          
        <div class="items">
                <div class="img img1"><img src="{% static 'shoes2.jpg' %}" alt=""></div>
                <div class="name">RED NIKE SPORTS</div>
                <div class="price">$7</div>
                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
              </div>

              
                  <div class="items">
                    <div class="img img1"><img src="{% static 'shoes3.jpg' %}" alt=""></div>
                    <div class="name">NIKE JORDAN</div>
                    <div class="price">$15</div>
                    <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                  </div>

                  
                      <div class="items">
                        <div class="img img1"><img src="{% static 'shoes4.webp' %}" alt=""></div>
                        <div class="name">NIKE JORDAN(BLACK)</div>
                        <div class="price">$17</div>
                        <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                      </div>

                      
                          <div class="items">
                            <div class="img img1"><img src="{% static 'shoes5.webp' %}" alt=""></div>
                            <div class="name">SUPER WINGS</div>
                            <div class="price">$14</div>
                            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                          </div>

                          
                              <div class="items">
                                <div class="img img1"><img src="{% static 'womens-shoes-500x500.webp' %}" alt=""></div>
                                <div class="name">GIRLS SNEAKERS(PINK)</div>
                                <div class="price">$5</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>


                              <div class="items">
                                <div class="img img1"><img src="{% static 'shoes6.jpg' %}" alt=""></div>
                                <div class="name">NIKE HIGH SNEAKER</div>
                                <div class="price">$7</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>

                              <div class="items">
                                <div class="img img1"><img src="{% static 'shoes7.webp' %}" alt=""></div>
                                <div class="name">U.S POLO(SNEAKER)</div>
                                <div class="price">$9</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>

                              <div class="items">
                                <div class="img img1"><img src="{% static 'shoes.8.webp' %}" alt=""></div>
                                <div class="name">NIKE (PAIR)</div>
                                <div class="price">$12</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>

                              <div class="items">
                                <div class="img img1"><img src="{% static 'shoes9.avif' %}" alt=""></div>
                                <div class="name">DIOR NIKE JORDAN</div>
                                <div class="price">$800</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>
                              
                              <div class="items">
                                <div class="img img1"><img src="{% static 'shoes10.webp' %}" alt=""></div>
                                <div class="name">HIGH BOOT JORDAN</div>
                                <div class="price">$50</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>

                              <div class="items">
                                <div class="img img1"><img src="{% static 'shoes11.webp' %}" alt=""></div>
                                <div class="name">PUMA MULTI-COLOR</div>
                                <div class="price">$8</div>
                                <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
                              </div>



        </div>
    </div>

   
</body>
</html>