{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-SHIRT</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

    
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51jXxbcCQIL._UL1056_.jpg" alt=""></div>
            <div class="name"> TSHIRT</div>
            <div class="price">$4</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61-jBuhtgZL._UL1500_.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$12</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://5.imimg.com/data5/DK/JV/MY-34278/men-27s-fashion-tshirts-500x500.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$10</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71mc34pLRgL._UX466_.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$12</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://rukminim1.flixcart.com/image/832/832/kwxv98w0/t-shirt/d/t/n/l-02-sj-fashion-original-imag9hjzpk7zzjwf.jpeg?q=70" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$15</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/17868156/2022/4/12/4084bedc-aa91-40c8-bed9-e8e74bbdd5f31649779743002VEIRDOMenWhiteCamouflagePrintedMonochromeLooseT-shirt1.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$17</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images-cdn.ubuy.co.in/63eba44b800a8b545d61f567-mens-hipster-hip-hop-t-shirt-stylish.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$7</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://assets.ajio.com/medias/sys_master/root/20220901/ARH5/6310ee67f997dd1f8dd3e3ee/eyebogler_teal_colour-blocked_polo_t-shirt.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$18</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://ce8a9656c.cloudimg.io/v7/https://blog.mensvector.com/img/9/m-mens-summer-style-combination.jpg?w=414&force_format=webp&q=85" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$19</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51FDfdf7leL._UL1000_.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$20</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://static-01.daraz.com.bd/p/514444f8b97e32a376aed6477dc30784.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$22</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://i.pinimg.com/originals/7d/4d/c4/7d4dc45314b5b425a1fba7f420f5904a.jpg" alt=""></div>
            <div class="name">TSHIRT</div>
            <div class="price">$24</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>

    
</body>
</html>