{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Washing Maxhine</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


<body>

               
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71A2wRV96mL._SX466_.jpg" alt=""></div>
            <div class="name">Bosh</div>
            <div class="price">$44</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://www.lg.com/in/images/washing-machines/md07518535/gallery/FHV1408ZWB-Washing-Machines-Left-View-Open-D-07.jpg" alt=""></div>
            <div class="name">LG</div>
            <div class="price">$57</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81d5542EVsL._SL1500_.jpg" alt=""></div>
            <div class="name">LG</div>
            <div class="price">$39</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn1.smartprix.com/rx-i6gTE5YIQ-w1200-h1200/6gTE5YIQ.jpg" alt=""></div>
            <div class="name">LG</div>
            <div class="price">$34</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://whirlpoolindia.vtexassets.com/arquivos/ids/164386/Xpert-care-Silver-lid-open-O3-6.5kg_1500x1500.jpg?v=638000290210600000" alt=""></div>
            <div class="name">Xpert</div>
            <div class="price">$39.8</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://hdn-1.jioretailer.com/jioretailer/products/pictures/item/free/original/cX_Mr8yJGQ-kelvinator-kwt-a800sg-washing-machines-491604437-i-1-1200wx1200h.jpeg" alt=""></div>
            <div class="name">Kelvinator</div>
            <div class="price">$33</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.ifbappliances.com/media/catalog/product/s/e/senator_wss_steam_8.5kg_front_load_fv_1.png" alt=""></div>
            <div class="name">IFB</div>
            <div class="price">$25.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/LGwashingmachine.jpg" alt=""></div>
            <div class="name">SAMSUNG</div>
            <div class="price">$26.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://hdn-1.jioretailer.com/jioretailer/products/pictures/item/free/original/NlRG3T_77r-kelvinator-kwt-a700lg-washing-machines-491604436-i-3-1200wx1200h.jpeg" alt=""></div>
            <div class="name">KELVINATOR</div>
            <div class="price">$26.5</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.moglix.com/p/yHtHFhsJv3zwa-xxlarge.png" alt=""></div>
            <div class="name">Whirpool</div>
            <div class="price">$32.9  </div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://thumbs.dreamstime.com/b/realistic-washing-machine-fresh-clean-folded-clothing-laundry-basket-dirty-cloth-modern-laundromat-d-laundry-washing-154391010.jpg" alt=""></div>
            <div class="name">IFB</div>
            <div class="price">$22.9</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://5.imimg.com/data5/BQ/OE/MY-55520831/fully-automatic-front-loading-washing-machine-500x500.jpg" alt=""></div>
            <div class="name">LG</div>
            <div class="price">$27.7</div>
            <div class="info"><a href="{% url 'home-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>


    
</body>
</html>